.container{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}


.container__text{
    max-width: 50%;
    margin: 0 auto;
    text-align: center;
    
   
}




.underline{
    position: relative;
   
   
}

.underline::before{
content: "";
position: absolute;
bottom: 0;
left: 25%;
width: 50%;
height: 3px;
background: red;
}


.text{
   
    text-align: center;
    margin: 10px;
}   


@media(max-width:480px){
    .container__text{
        max-width: 100%;
    }
}