<div class="grid__container" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
 
  <a class="link" routerLink="/anagram" draggable="true" (dragstart)="onDragStart($event)" >   
    <img src="https://www.autopista.es/uploads/s1/95/27/49/2/recientemente-pluton-dejo-de-ser-considerado-un-planeta-del-sistema-solar.jpeg" alt="" 
     draggable="true" (dragstart)="onDragStart($event)"></a>
   
  
  <a class="link" routerLink="/fizbuzz" draggable="true" (dragstart)="onDragStart($event)" >
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJpQ6o60xWTEmluErEL3nfAs0ymrZ-kyRW2DSV3ECvFPcR6nzLFfBPWQM8ud4llhxd3P4&usqp=CAU" alt=""  draggable="true" (dragstart)="onDragStart($event)"></a>
   
      
      <a class="link" routerLink="/fibonacci" draggable="true" (dragstart)="onDragStart($event)" >
        <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0wf36KlKjTVZJgUVVuM-TM_KS7K-Gd4Chvt23kAybyf3BPlWI23N0swnGzHoPgKCL3z0&usqp=CAU" alt=""  draggable="true" (dragstart)="onDragStart($event)"></a>
</div>
   <div class="button__container">
    <button type="text" class="button
    ">All Projects</button>
    
  </div>
